@font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    src: url('Inter.woff2') format('woff2');
}
html {
    min-width: 300px;
}
body {
    background: hsl(200deg 27% 98% / 100%);
    color: hsl(0deg 0% 0% / 100%);
    font: 700 11pt / 1em Inter, system-ui, sans-serif;
    margin: 30px 24px;
    min-width: 360px;
    user-select: none;
}
section {
    background: hsl(0deg 0% 100% / 100%);
    border-radius: 2px;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 5%),
        0 2px 2px hsl(0deg 0% 0% / 5%),
        0 4px 4px hsl(0deg 0% 0% / 5%),
        0 6px 8px hsl(0deg 0% 0% / 5%),
        0 8px 16px hsl(0deg 0% 0% / 5%);
    margin-bottom: 26px;
    padding: 14px;
}
h1 {
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 2pt;
    margin-bottom: 26px;
    text-transform: uppercase;
}
h2 {
    font-size: 7pt;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 4px;
    margin-top: 0px;
    text-transform: uppercase;
}
h4 {
    font-size: 0.7rem;
    font-weight: 900;
    letter-spacing: 2pt;
    text-align: center;
    text-transform: uppercase;
}
h4 a {
    color: hsl(0deg 0% 75% / 100%);
    text-decoration: none;
}
hr {
    border: 0;
    border-top: hsl(0deg 0% 90% / 100%) 1px solid;
    margin-bottom: 5px;
    margin-top: 0;
}
label {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-top: 14px;
}
label + label {
    margin-top: 20px;
}
label:hover {
    cursor: pointer;
}
label input {
    margin-right: 6px;
    margin-top: 0px;
}
label .text {
    display: grid;
    grid-template-rows: max-content max-content;
}
label .option {
    font-size: 11pt;
    font-weight: 700;
    margin: 0;
}
label .details {
    color: hsl(0deg 0% 40% / 100%);
    font-size: 10pt;
    margin: 0;
    margin-top: 4px;
}
