@font-face {
    font-display: optional;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('Inter.woff2') format('woff2');
}

:root[data-theme="dark"] {
    --background-color: hsl(0deg 0% 8% / 100%);
    --color: hsl(0deg 0% 98% / 100%);
}
:root[data-theme="light"] {
    --background-color: hsl(0deg 0% 96% / 100%);
    --color: hsl(200deg 10% 26% / 100%);
}

body {
    align-items: center;
    background: var(--background-color);
    color: var(--color);
    display: grid;
    font: 100 calc(22pt + 4vw) / 1em Inter, system-ui, sans-serif;
    height: 100vh;
    justify-items: center;
    margin: 0;
    user-select: none;
    width: 100vw;
}

/* FOUC */
html {
    visibility: visible;
}
