@font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    src: url('Inter.woff2') format('woff2');
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: hsl(0deg 0% 8% / 100%);
        --color: hsl(0deg 0% 98% / 100%);
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --background-color: hsl(0deg 0% 96% / 100%);
        --color: hsl(200deg 10% 26% / 100%);
    }
}
html,
body {
    align-items: center;
    display: grid;
    height: 100vh;
    justify-items: center;
    margin: 0;
    user-select: none;
    width: 100vw;
}
body {
    background: var(--background-color);
    color: var(--color);
    font: 100 calc(22pt + 4vw) / 1em Inter, system-ui, sans-serif;
}
